body{
    margin: 0;
    padding: 0%;
}


h1 {
    text-align: center;
    text-decoration: 5px underline #bcbd8b;
    margin: 50px 0px;
}

.first {
    background-color: red;
    width: 500px;
    height: 200px;
    border: 10px solid #2fbf71;
    border-radius: 10%;
    padding: 20px;
    margin: 20px 50px;
}

.second {
    background-color: blue;
    width: 700px;
    height: 200px;
    border: 5px solid #9d0208;
    border-radius: 5%;
    padding-top: 50px;
    margin: 0 0px 20px 25px;
}

.third {
    background-color: green;
    width: inherit;
    height: inherit;
    border: 15px double #03045e;
    padding: 50px 20px 25px 20px;
    margin: 0 20px 50px;
}

.display h2 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #9d0208;
}

.display p {
    color: #bcbd8b;
    background-color: #03045e;
    width: 25%;
    padding: 25px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}


.units {
    background-color: #9d0208;
}

.units h2 {
    text-align: center;
    color: #03045e;
}

.units-div {
    background-color: #4a525a;
    padding: 70px;
    margin: 0 50px 10px 50px;
    width: 50%;
}